@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body {
	background-color: #111;
}


.wrapper {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

h1 a {
	font-family: 'Dosis', sans-serif;
	font-size: 100px;
	letter-spacing: 0.0625em;
	display: inline-block;
	color: #00A896;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 8px;
	
	-webkit-transition: 0.5s color ease;
	-moz-transition: 0.5s color ease;
	-ms-transition: 0.5s color ease;
	-o-transition: 0.5s color ease;
	transition: 0.5s color ease;
	cursor: default;
}

a:hover, a:link, a:visited {color: #028090; text-decoration: none;}

h1 a:before, a:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #00A896;
}

h1 a:before {
	opacity: 0;
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
	transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity: 0s;
	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity: 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1 a:after {
	opacity: 0;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1 a:hover:before, a:hover:after, a:focus:before, a:focus:after {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

h1 a:hover:before, a:focus:before {
	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1 a:hover:after, a:focus:after {
	transition: opacity 0s 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
	transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}